@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.effect-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.text-white {
  color: white;
  font-size: 1.5rem;
  font: bolder;
}

button:focus {
  outline: none !important;
}

.icon-header {
  margin-top: 20px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
}

.profile-circle {
  width: 60px;
  height: 60px;
  background-color: #f8f9fa;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 15px;
  margin-right: 10px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
}

#sidebar {
  background-color: #1e1e1e;
  color: #ffffff;
  width: 15%;
  min-width: 200px;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

#content {
  width: 85%;
  position: relative;
  overflow-y: auto;
  height: 100vh;
}

#header {
  height: 5%;
  background-color: #343a40;
  color: #ffffff;
  display: flex;
  padding: 0 20px;
  position: relative;
}

#profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}

#profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

#profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#profile-info {
  margin-left: 10px;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 85%;
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 20px;
}

.card {
  position: relative;
}

.card-buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#groups-sidebar,
#settings-sidebar {
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

#groups-sidebar a,
#settings-sidebar a {
  color: #ffffff;
  background-color: #1e1e1e;
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 15px;
  transition: background-color 0.3s;
}

#groups-sidebar a:hover,
#settings-sidebar a:hover {
  background-color: #007bff;
  color: #ffffff;
}

#section {
  padding: 20px;
  margin-bottom: 27px;
}

#userDropdown {
  /* position: absolute;
    top: 50%; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.logo {
  scale: 0.3;
}

.list-group-item {
  border: none;
}

.list-group-item-action {
  margin-top: 2px;
  border-radius: 15px;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

.dropdown-toggle::after {
  display: none !important;
}

.whitecolor {
  color: #ffffff;
  margin-top: 5px;
  font-size: 1.5em;
}

.circle_logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -5px;
  margin-right: 10px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.deleteIcon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.deleteIconGroups {
  position: absolute;
  top: 5px;
  right: 20px;
  border: 2px solid #ffffff;
}

.updateIconGroups {
  position: absolute;
  top: 50px;
  right: 20px;
  border: 2px solid #ffffff;
}

.status-dot {
  position: absolute;
  top: 10px;
  left: 25px;
  border: 1px solid #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}